// --------------------------------------------------------------------------
//  Main scss
// --------------------------------------------------------------------------

@import "bourbon";
@import "neat";

@import "normalize";

// --------------------------------------------------------------------------
//  Bourbon Neat
// --------------------------------------------------------------------------

body {
    background-color: #f8f8f8;
}

.container {
    @include outer-container;

    &.single-column {
        max-width: 700px;
    }
}

.content-block {
    @include clearfix;
    padding: 200px 20px;
}

header {
    @include clearfix;
    padding: 50px 20px;
    background-color: #111;
    color: #fff;
}

footer {
    @include clearfix;
    padding: 50px 20px;
    background-color: #111;
    color: #fff;
}


img {
    max-width: 100%;
    height: auto;
}

//3 col grid
.three-col {
    @include span-columns(4);
}